.env
obj/
bin/
out/
appsettings.json
*.http
*.nupkg
packages/
project.lock.json
project.assets.json
.nuget/
*.dll
*.exe
*.pdb
*.mdb
*.ilk
*.idb

.vscode/
node_modules/
npm-debug.log*
yarn-error.log
dist/
coverage/
*.lock.json